{% extends "base.html" %}

{% load thumbnail items_loader_extras service_extras siteblocks_extras %}

{% block title %}
    Кабинет клиента
{% endblock %}

{% block left %}

    <div class="cabinet">
        <h1>Кабинет клиента</h1>

        {% if profile %}

            {% if profile.get_new_works %}
                <div class="works_new">
                    <h2>Новые работы</h2>
                    {% for work in profile.get_new_works %}
                        {% if work.workcategory.id == 4 %}
                            <div class="new_video">
                                <a href="{{ work.code_video }}" class="new_video_img">
                                    {% thumbnail work.image "201x123" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                                    {% endthumbnail %}
                                    <span rel="asd" class="play_ic"></span>
                                </a>
                                <a href="{{ work.code_video }}" class="new_video_title_short">{{ work.title }}</a>
                            </div>
                        {% else %}
                            <div class="new_out_adv">
                                <div class="new_out_adv_img">
                                {% thumbnail work.image "1000" upscale=0 as big %}
                                    {% thumbnail work.image "297x148" crop="center" as im %}
                                        <a href="{{ big.url }}" rel="asd" class="fancybox">
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                                        </a>
                                    {% endthumbnail %}
                                {% endthumbnail %}
                                </div>
                                <span class="new_out_adv_title">{{ work.title }}</span>
                            </div>
                        {% endif %}

                    {% endfor %}
                </div><!-- /new_works -->
            {% endif %}

            {% for category in profile.get_works_categories_and_works %}
                {% if category.works %}

                    <div class="work_group">
                        {% if category.get_src_image %}<img src="{{ category.get_src_image }}" alt="" />{% endif %}
                        <span class="work_group_title">{{ category.title }}</span>
                    </div>

                    <div class="works_all load_block">

                        {% block_items_loader category.works "ClientsWorkCategory" "clientsworks" "clientwork" 3 category.id profile.get_work_add_parameter  %}

                    </div>

                {% endif %}
            {% endfor %}

        {% else %}
            Для данного пользователя не создан профиль.
        {% endif %}
    </div>
{% endblock %}

{% block right %}
    {% if profile %}
    <div class="blk_out yelow_fr">
        <div class="blk">
            <h2>Документы</h2>

            <div class="docs">

                {% for doc_category in profile.get_documents_categories_and_docs %}
                    {% if doc_category.docs %}
                        <div class="docs_group load_block">
                            <div class="docs_group_name">{{ doc_category.title }}<div class="docs_group_r"></div></div>

                            {% block_items_loader doc_category.docs "DocumentsCategory" "clientsworks" "clientdoc" 2 doc_category.id profile.get_doc_add_parameter %}

                        </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>
    </div><!-- /blk -->
    {% endif %}
{% endblock %}
