{% extends "base.html" %}

{% load thumbnail items_loader_extras service_extras siteblocks_extras %}

{% block title %}Наши клиенты{% endblock %}

{% block left %}
    <div class="clients load_block">
        <h1>Наши клиенты</h1>

        {% block_items_loader clients "client" "service" "clients" "" "" %}

        <div class="show_more service_load_button">
            <a href="#" class="load_items">Ещё <span class="cnt">3</span> клиента</a>
        </div>
    </div><!-- /clients -->
{% endblock %}

{% block col_right_type %}cols5 with_ring{% endblock %}

{% block right %}
    {% block_adv_maintenance 'small' %}
{% endblock %}