{% extends "base.html" %}

{% load thumbnail service_extras siteblocks_extras %}

{% block title %}Наши клиенты{% endblock %}

{% block left %}
    <div class="clients">
        <h1>Наши клиенты</h1>

        <input type="hidden" class="m_name" value="client">
        <input type="hidden" class="a_name" value="service">
        <input type="hidden" class="init_cnt" value="{{ clients.count }}">

        {% for client in clients %}
            <div class="client">
                <a href="{{ client.get_absolute_url }}" class="client_icon"><img src="{{ client.get_src_image }}" alt="" /></a>
                <div class="client_def">
                    <a href="{{ client.get_absolute_url }}" class="client_name">{{ client.title }}</a>
                    <p class="client_def_zm">{{ client.description|truncatewords:25 }}</p>
                </div>

                <div class="client_srvs">
                    <ul>
                        {% for category in client.get_works_categories %}
                            <li>
                                {% if category.workcategory == 4 %}
                                    <a href="{{ client.get_absolute_url }}#video_examples"><img src="/media/img/video_zs.png" alt="" /></a>
                                {% endif %}
                                {% if category.workcategory == 5 %}
                                    <a href="{{ client.get_absolute_url }}#design_examples"><img src="/media/img/design_zs.png" alt="" /></a>
                                {% endif %}
                                {% if category.workcategory == 2 %}
                                    <a href="{{ client.get_absolute_url }}#foto_examples"><img src="/media/img/foto_zs.png" alt="" /></a>
                                {% endif %}
                                {% if category.workcategory == 1 %}
                                    <a href="{{ client.get_absolute_url }}#out_adv_examples"><img src="/media/img/out_adv_zs.png" alt="" /></a>
                                {% endif %}
                                {% if category.workcategory == 3 %}
                                    <a href="{{ client.get_absolute_url }}#smi_examples"><img src="/media/img/smi_zs.png" alt="" /></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="cl"></div>
            </div>
        {% endfor %}

        <div class="show_more">
            <a href="#" class="load_items">Ещё <span class="cnt">3</span> клиента</a>
        </div>
    </div><!-- /clients -->
{% endblock %}

{% block col_right_type %}cols5 with_ring{% endblock %}

{% block right %}
    {% block_adv_maintenance 'small' %}
{% endblock %}