{% extends "base.html" %}

{% load thumbnail items_loader_extras service_extras siteblocks_extras %}

{% block title %}{{ client.title }} &mdash; Наши клиенты{% endblock %}

{% block left %}
    <div class="client_detail">

        <span href="#" class="client_icon"><img src="{{ client.get_src_image }}" alt="" /></span>
        <h1>{{ client.title }}</h1>
        <p class="client_def_zl">{{ client.description }}</p>

        {% for category in client.get_works_categories_and_works %}
            {% if category.works %}

                {% if category.id == 4 %}
                    <div class="video_examples load_block" id="video_examples">
                        <div class="work_group">
                            <img src="/media/img/video_zs.png" alt="" />
                            <span class="work_group_title">Видеопродукция</span>
                        </div>

                        {% block_items_loader category.works "WorkCategory" "service" "video_cl" 2 category.id client.get_add_parameter %}

                    </div><!-- /video_examples -->
                {% endif %}

            {% endif %}
        {% endfor %}

    </div><!-- /client_detail -->
{% endblock %}

{% block col_right_type %}cols5 with_ring{% endblock %}

{% block right %}
    {% block_adv_maintenance 'small' %}
{% endblock %}

{% block post_right %}

    {% for category in client.get_works_categories_and_works %}

        {% if category.works %}

            {% if category.id == 2 %}
                <div class="out_adv_examples load_block" id="foto_examples">
                    <div class="work_group">
                        <img src="/media/img/foto_zs.png" alt="" />
                        <span class="work_group_title">Фотосъемка</span>
                    </div>

                    {% block_items_loader category.works "WorkCategory" "service" "outadv_cl" 2 category.id client.get_add_parameter %}

                </div><!-- /foto_examples -->
            {% endif %}

            {% if category.id == 3 %}
                <div class="out_adv_examples load_block" id="smi_examples">
                    <div class="work_group">
                        <img src="/media/img/smi_zs.png" alt="" />
                        <span class="work_group_title">СМИ</span>
                    </div>

                    {% block_items_loader category.works "WorkCategory" "service" "outadv_cl" 2 category.id client.get_add_parameter %}

                </div><!-- /smi_examples -->
            {% endif %}

            {% if category.id == 5 %}
                <div class="out_adv_examples load_block" id="design_examples">
                    <div class="work_group">
                        <img src="/media/img/design_zs.png" alt="" />
                        <span class="work_group_title">Дизайн</span>
                    </div>

                    {% block_items_loader category.works "WorkCategory" "service" "outadv_cl" 2 category.id client.get_add_parameter %}

                </div><!-- /design_examples -->
            {% endif %}

            {% if category.id == 1 %}
                <div class="out_adv_examples load_block" id="out_adv_examples">
                    <div class="work_group">
                        <img src="/media/img/out_adv_zs.png" alt="" />
                        <span class="work_group_title">Билборды и рекламная компания</span>
                    </div>

                    {% block_items_loader category.works "WorkCategory" "service" "outadv_cl" 2 category.id client.get_add_parameter %}

                </div><!-- /out_adv_examples -->
            {% endif %}

        {% endif %}

    {% endfor %}

    {% block_clients %}
{% endblock %}