{% extends "base.html" %}

{% load thumbnail service_extras siteblocks_extras %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block start_wrpr_out_div %}<div class="wrapper_out">{% endblock %}


{% block left %}
    <div class="service_detail">
        <span href="#" class="service_icon"><img src="{% category_pic category.id 'zm' %}" alt="" /></span>
        <h1>{{ category.title }}</h1>
        <p class="service_def_zl">{{ category_descr_part1 }}</p>
        <div class="our_offer"><div class="our_offer_in">{{ category.additional_text }}</div></div>
        <div class="def_full">
            {{ category_descr_part2 }}
        </div>
        <!--[if gte IE 8]><div class="cl"></div><![endif]-->

        {% if category.id == 4 %}
            <div class="video_examples load_block">

                <input type="hidden" class="m_name" value="WorkCategory">
                <input type="hidden" class="a_name" value="service">
                <input type="hidden" class="template" value="video_example">
                <input type="hidden" class="init_cnt" value="{{ category.get_works_to_show.count }}">

                <input type="hidden" class="add_parameter" value="4|get_works()">

                {% for work in category.get_works_to_show %}
                    {% for works_media in work.get_works_media %}
                    <div class="video_example">
                        <div class="video_example_img">
                            <img src="{{ works_media.get_src_image }}" alt="" />
                            <a href="{{ works_media.code_video }}" class="play_ic"></a>
                        </div>
                        <span class="video_example_title">{{ work.title }}</span>
                    </div>
                    {% endfor %}
                    <div class="helper"></div>
                {% endfor %}

                <div class="show_more service_load_button">
                    <a href="#" class="load_items">Ещё <span class="cnt">2</span> работы</a>
                </div>

            </div><!-- /video_examples -->
        {% endif %}

    </div><!-- /service_detail -->
{% endblock %}

{% block right %}
    <div class="blk_out orange_fr">
        <div class="blk">
            <h2>Записи в блоге</h2>
            <a href="{{ blog_item.get_absolute_url }}" class="blk_lnk">{{ blog_item.title }}</a>
            <img src="{{ blog_item.get_src_image }}" alt="" />
            <p>{{ blog_item.short_description|truncatewords:29 }}</p>
        </div>
    </div><!-- /blk -->
{% endblock %}

{% block post_right %}

    {% if category.id != 4 %}
        <div class="out_adv_examples load_block">

            <input type="hidden" class="m_name" value="WorkCategory">
            <input type="hidden" class="a_name" value="service">
            <input type="hidden" class="template" value="outadv">

            <input type="hidden" class="add_parameter" value="{{ category.id }}|get_works()">

            <input type="hidden" class="init_cnt" value="{{ category.get_works_to_show.count }}">

            {% for work in category.get_works_to_show %}
                <div class="out_adv_example">
                    <h1 class="out_adv_example_title">{{ work.title }}</h1>
                    <div class="out_adv_example_img">
                        {% for works_media in work.get_works_media %}
                            <img src="{{ works_media.get_src_image }}" alt="{{ work.title }}" />
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div class="show_more service_load_button">
                <a href="#" class="load_items">Ещё <span class="cnt">2</span> работы</a>
            </div>

        </div><!-- /out_adv_examples -->
    {% endif %}

    {% block_clients %}
{% endblock %}

{% block end_wrpr_out_div %}</div>{% endblock %}
