@charset "utf-8";
/*reset*/
html,body,div,span,
h1,h2,h3,h4,p,blockquote,a,
small,strike,strong,b,em,i,sub,sup,img,ins,
ul,ol,li,dl,dt,dd,
fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,th,td {
	border: none;
	padding:0;
	margin:0;
	outline:0;
	vertical-align:baseline
}
li {list-style:none}
/*/reset*/

/*fonts*/
@font-face {font-family: 'PT Sans'; 
	src: url('../fonts/PTS55F_W.eot'); 
	src:
		local('PT Sans'),
		url('../fonts/PTS55F_W.woff') format('woff'),
		url('../fonts/PTS55F_W.ttf') format('truetype'),
		url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans'; 
	font-style: italic;
	src: url('../fonts/PTS56F_W.eot'); 
	src: local('PT Sans Italic'),
		url('../fonts/PTS56F_W.woff') format('woff'),
		url('../fonts/PTS56F_W.ttf') format('truetype'),
		url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
	src: url('../fonts/PTS75F_W.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('PT Sans Bold'),
		url('../fonts/PTS75F_W.woff') format('woff'),
		url('../fonts/PTS75F_W.ttf') format('truetype'),
		url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}
@font-face {font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold; 
	src: url('../fonts/PTS76F_W.eot'); 
	src: local('PT Sans Bold Italic'),
		url('../fonts/PTS76F_W.woff') format('woff'),
		url('../fonts/PTS76F_W.ttf') format('truetype'),
		url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}
/*/fonts*/


/*-----------------MAIN-STYLES-----------------*/
body {
	background: #f3f4ee;
	color: #3f2200;
	font: 14px/18px 'PT Sans', sans-serif;
	position: relative;
}
.wrapper_out {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	min-width: 996px;
	overflow-x: hidden;
}
.top_hg_out, .bot_hg {
	height: 7px;
	min-width: 996px;
	width: 100%;
	background: #e66d21;
	overflow: hidden;
}
.top_hg {
	height: 7px;
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
}
.top_hg_in {
	position: relative;
	left: 160px;
	width: 63%;
	background: #ffd300;
	height: 7px;

}
.wrapper, .overlay_in {
	position: relative;
	margin: 0 auto;
	min-width: 996px;
	max-width: 1200px;
	z-index: 1;
}

.page {padding: 0 6px 0 12px; position:relative;}



a {color: #e66d21}
a:hover {color: #9c4e0d}

h1 {
	font: bold 24px/30px 'PT Sans', sans-serif;
	margin: 0 0 18px 0;
	color: #3f2200;
}
h2 {
	font: bold 18px/30px 'PT Sans', sans-serif;
	margin: 0 0 12px 0;
	color: #3f2200;
}
h3 {
	font: bold 14px/18px 'PT Sans', sans-serif;
	margin: 0 0 12px 0;
	color: #3f2200;
}
/*corners*/
.corners {
	background: url(../img/corners.png) 100% 0 no-repeat;		
}
.corner_topleft {
	position: absolute;
	right: -37px;
	top: 0;
	height: 47px;
	width: 37px;
	background-position: 100% 0;
}
.corner_bottomright {
	position: absolute;
	left: -35px;
	top: 0;
	height: 47px;
	width: 35px;
	background-position: 0 0 no-repeat;
}
.corner_left, .corner_right {
	display: block;
	position: absolute;
	top: 0;
	width: 35px;
	height: 21px;
	background: url(../img/corners.png) 0 0 no-repeat;
}
.corner_left {
	left: -35px;
	background-position: 0 -110px;
}
.corner_right {
	right: -35px;
	background-position: 100% -110px;
}
/*/corners*/
/*-----------------MAIN-STYLES-END-----------------*/




/*-----------------HEADER-----------------*/
/*layout*/
.header {
	position: relative;
	height: 158px;
	margin: 0 0 0 0;
}
/*/layout*/


/*logo*/
#logo_box {
	display: block;
	height: 60px;
	width: 211px;
	position: absolute;
	top: 14px;
	left: 0;
	z-index: 4;
}
#logo {
}
/*/logo*/



/*menu*/
.menu {
	width: 58%;
	z-index: 3;
	position: relative;
	top: 44px;
	margin: 0 40px 0 120px;
	background: #f8e9a8;
	height: 36px;
	padding: 11px 0 0 32px;
	text-align: justify;
	text-justify: newspaper;
}
.menu ul {
	padding-right: 30px;
}
.menu li {
	display: inline-block;
	vertical-align: top;
}

.menu a {
	font: bold 18px/22px 'PT Sans', sans-serif;
	color: #9c4e0d;
}
.menu a:hover {
	text-decoration: none;
}
.menu .helper {
	width: 100%;
	visibility: hidden;
}
.menu_current {
	background: #d6c059;
	margin: -4px -11px -8px;
	padding: 3px 10px 7px;
	border: 1px solid #a39244;
	border-bottom: 1px solid #ffffff;
	box-shadow: inset 0 0 3px 1px #b4a14b;
	border-radius: 3px;
}
.menu_current a {
	color: #665609;
	text-decoration: none;
}
/*menu-end*/



/*contacts*/
.contacts {
	position: absolute;
	top: 44px;
	right: 36px;
	left: 58%;
	margin-left: 196px;
	background: #e9894b;
	padding: 15px 0 0;
	height: 32px;
	text-align: center;
}
.contacts .corner_topleft {
	background-position: 100% 100%;
}
.contacts .corner_bottomright {
	background-position: 0 100%;
}
.tel {
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}
.tel span{
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	position: relative;
	top: -6px;
}
.adr {
	min-width: 165px;
	top: -37px;
	left: 50%;
	margin-left: -30%;
	text-align: center;
	position: absolute;
	font-style: italic;
	color: #aeaaa2;
}
.adr span {
	display: block;
	position: relative;
	left: -13px;
	font-weight: bold;
	font-style: normal;
	color: #3f2200;
}
.address_lnk {
	width: 100%;
	display: block;
	position: absolute;
	bottom: -20px;
	font-style: italic;
	left: 50%;
	margin-left: -56%;
}
/*/contacts*/
/*login_lnk*/
.login_lnk {
	height: 21px;
	position: absolute;
	right: 27%;
	top: 0;
	background: #ffd300 url(../img/ic_login.png) 10px 3px no-repeat;
	padding: 0 15px 0 30px;
}
.login_lnk a {
	color: #3f2200;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px dashed #3f2200;
}
.enter {
	background-position: 10px -16px;
}
.enter a {
	border: 0;
	text-decoration: underline;
	font-weight: bold;
}
/*/login_lnk*/
/*--------------HEADER-END--------------*/




/*----------------PAGE------------------*/
/*layout*/
.col {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 0 36px;
}
.cols14 {
	width: 55%;
}
.cols9 {
	width: 37%;
}
.cols18 {
	width: 75%;
}
.cols5 {
	width: 20%;
}
.left {
	margin-right: 4%;
	z-index: 2;
}
.right {
	z-index: 1;
}
/*/layout*/
/*servicies_icons*/
.servicies_icons {
	position: relative;
	margin: 78px auto 36px;
	left: -24px;
	height: 390px;
	width: 995px;
	background: url(../img/ring_zl.png);
}
.service {
	position: absolute;
}
.service_ic, .def_short {
	display: inline-block;
	position: relative;
}
.service_video {
	top: 150px;
	left: 632px;
}
.service_video .def_short {
	left: 50px;
	top: -10px;
}
.service_design {
	left: 80px;
	top: 192px;
}
.service_design .def_short {
	left: 10px;
	top: -4px;
}
.service_foto {
	left: 88px;
	top: -62px;
}
.service_foto .def_short {
	vertical-align: top;
	left: -12px;
	top: 60px;
}
.service_out_adv {
	left: 360px;
	top: -56px;
}
.service_out_adv .def_short {
	vertical-align: top;
	left: 20px;
	top: 0;
	width: 180px;
}
.service_smi {
	left: 706px;
	top: 0px;
}
.service_smi .def_short {
	left: 18px;
	top: 5px;
}
.service_smi .def_short {
	vertical-align: top;
}
.def_short {
	width: 170px;
	color: #3f2200;
}
.def_short a {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}
/*/servicies_icons*/
/*service_main*/
.service_main {
	position: relative;
}
.service_main h1 {
	text-align: right;
	padding-right: 18px;
}
.our_offer {
	float: left;
	background: url(../img/corner_tr.png) 100% 0 no-repeat;
	text-align: right;
	padding: 18px 26px 0 0;
	width: 248px;
	min-height: 226px;
	font: bold 18px/22px 'PT Sans', sans-serif;
	color: #3f2200;
	margin: 0 -248px 36px 0;
}
.our_offer_def_full, .def_full {
	color: #3f2200;
	font-size: 16px;
	margin: 0 0 36px 288px;
	padding-right: 18;
}
.our_offer_def_full p {
	margin: 0 0 18px;
}
.def_lnk {
	font-weight: bold;
}
/*/service_main*/
/*srvs*/
.srv, .blog_item {
	margin: 0 0 54px;
}
.srv_icon, .service_icon, .client_icon, .blog_item_icon {
	position: relative;
	top: -25px;
	width: 160px;
	margin-right: -160px;
	float: left;
	text-align: center;
}
.srv_def, .service_def_zl, .service_detail h1, .client_detail h1, .blog_item_def {
	margin-left: 160px;
}
.srv_name, .client_name, .blog_item_lnk {
	font-size: 18px;
	font-weight: bold;
}
.srv_def_zm, .blog_item_def_zm, .client_def_zm {
	margin: 8px 0 18px;
}
.srv_example {
	width: 46%;
	margin-right: 3%;
	float: left;
}
/*/srvs*/
/*clients*/
.clients {
	padding: 0 0 0 40px;
}
.client {
	margin: 0 0 54px;
}
.client_icon {
	display: block;
	float: left;
	width: 130px;
	text-align: center;
	margin: 10px -130px 0 0;
}
.client_def, .client_srvs {
	margin: 0 0 0 142px;
}
.client_def_zm {
	margin-bottom: 0;
}
.client_srvs li {
	display: inline-block;
	margin: 0 26px 0 0;
}
.clients .show_more, .blog .show_more {
	margin: 0 0 0 160px;
}
.client_icon {
	top: 0;
	text-align: center;
}
.client_def_zl {
	margin: 0 0 36px 160px;
}
.work_group {
	margin: 0 0 24px;
}
.work_group img {
	vertical-align: middle;
	margin-right: 12px;
}
.work_group span {
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
}
.design_examples .work_group, .out_adv_examples .work_group {
	margin: 0 0 24px 160px;
}
/*/clients*/
/*blog*/
.blog_item_icon {
	top: 0;
}
/*/blog*/
/*adv_full*/
.adv_full_zl {
	height: 151px;
	width: 477px;
	background: url(../img/adv_full.png);
	margin: 0 auto 26px;
	padding: 34px 0 0 34px;
	font: bold 68px/72px 'PT Sans', sans-serif;
	color: #3f2200;
}
.adv_full_zl span {
	display: block;
	position: relative;
	top: -10px;
	left: 18px;
	font: bold 34px/36px 'PT Sans', sans-serif;
}
.adv_full_zs {
	position: relative;
	left: -10px;
	height: 82px;
	width: 228px;
	background: url(../img/adv_full_zs.png) 0 0 no-repeat;
	margin: 0 auto 26px;	
	font: bold 30px/34px 'PT Sans', sans-serif;
	padding: 14px 0 0 16px;
}
.adv_full_zs span {
	display: block;
	position: relative;
	top: -8px;
	left: 8px;
	font: bold 15px/20px 'PT Sans', sans-serif;
}
/*/adv_full*/
/*works*/
.works_out {
	background: url(../img/corner_tl.png) 0 0 no-repeat;
}
.works {
	padding: 32px 40px 54px;
	background: url(../img/corner_br.png) 100% 100% no-repeat;
}
.works ul {
	margin-top: 36px;
}
.work {
	margin: 0 0 36px;
}
.work_lnk_img, .srv_example_logo  {
	width: 80px;
	text-align: center;
	float: left;
	margin: 0 -80px 0 0;
}
.work_lnk, .srv_example_lnk {
	display: inline-block;
	font-weight: bold;
	padding: 0 0 0 88px;
}
.work_lnk_all {
	margin: 0 0 0 88px;
	font-style: italic;
}
/*/works*/
/*customers*/
.customers {
	position: relative;
	height: 81px;
	background: url(../img/customers_pl.png) 0 0 repeat-x;
	margin: 0 26px 0 16px;
	padding: 29px 20px 0 20px;
	text-align: justify;
	text-justify: newspaper;
}
.customers_bl, .customers_br {
	position: absolute;
	height: 110px;
	width: 26px;
	top: 0;
	background: url(../img/customers_pl_lr.png) 0 0 no-repeat;
}
.customers_bl {
	left: -26px;
	background-position: 0 0;
}
.customers_br {
	right: -26px;
	background-position: 100% 0;
}
.customers li {
	display: inline-block;
	vertical-align: top;
}
.customers_all {
	width: 85px;
	height: 51px;
	background: url(../img/customers_all.png) 0 0 no-repeat;
	text-align: left;
}
.customers_all_lnk {
	display: block;
	margin: 14px 0 0 16px;
	font-style: italic;
	line-height: 14px;
}
.customers .helper {
	width: 100%;
	visibility: hidden;
}
/*/customers*/
/*service_detail*/
.service_detail {
	font-size: 16px;
}
.service_detail p {

}
.service_def_zl {
	margin-bottom: 18px;
}
.def_full {
	margin-left: 288px;
}
.our_offer_in {
	display: inline-block;
	width: 200px;
}
/*/service_detail*/
/*examples*/
.video_examples, .foto_examples, .smi_examples, .works_new {
	position: relative;
	padding-left: 160px;
	text-align: justify;
	text-justify: newspaper;
	clear: left;
}
.video_example, .foto_example, .smi_example, .new_video, .new_out_adv, .work_video, .work_out_adv {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 6px 0 0 6px;
	background: url(../img/corner_video.png) 0 0 no-repeat;
	width: 240px;
	margin: 0 0 36px 0;
	text-align: left;
}
.video_example_img, .foto_example_img, .smi_example_img, .work_video_img, .work_out_adv_img, 
.new_video_img {
	position: relative;
	border: 1px solid #fcf0c6;
	border-radius: 1px;
	width: 201px;
	height: 123px;
	overflow: hidden;
	margin-bottom: 12px;
	text-align: center;
}
.video_example_title, .foto_example_title, .smi_example_title, .new_video_title_short {
	font-weight: bold;
}
.play_ic {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -26px 0 0 -26px;
	height: 52px;
	width: 52px;
	background: url(../img/ic_play.png) 0 0 no-repeat;
}
.play_ic:active {
	margin: -25px 0 0 -25px;
}
.play_ic_zs {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -16px;
	height: 31px;
	width: 32px;
	background: url(../img/ic_play_zs.png) 0 0 no-repeat;
}
.play_ic_zs:active {
	margin: -14px 0 0 -15px;
}
.video_examples .helper, .foto_example_img .helper, .smi_example_img .helper {
	display: inline-block;
	width: 100%;
	visibility: hidden;
}
.show_more {
	background: url(../img/corner_tl_zs.png) 0 0 no-repeat;
	padding: 15px 0 0 15px;
	min-height: 36px;
	margin: 0 0 36px 40px;
}
.show_more a {
	font: bold italic 14px/18px 'PT Sans', sans-serif;
}
.out_adv_example, .design_example {
	text-align: center;
	margin: 0 0 36px;
}
.out_adv_examples h1, .design_examples h1 {
	text-align: left;
	padding-left: 160px;
}
.out_adv_examples .show_more, .design_examples .show_more {
	margin-left: 200px;
}
/*/examples*/
/*cabinet*/
.cabinet {
	margin: 0 0 0 40px;
}
.works_new {
	font-size: 16px;
	padding-left: 0;
	padding-right: 10%;	
}
.works_all {
	position: relative;
}
.work_video, .work_out_adv {
	min-width: 140px;
	margin-right: 3%;
	width: 24%;
}
.work_video_img, .work_out_adv_img {
	width: 115px;
	height: 70px;
	margin-bottom: 0;
}
.work_video_title_short, .work_out_adv_title_short {
	display: inline-block;
	margin: 8px;
	text-align: left;
}
.works_show_more {
	position: absolute;
	left: 95%;
	bottom: 50px;
	width: 120px;
	margin-left: -120px;
}
.new_out_adv {
	background: none;
	height: auto;
	width: 300px;
	text-align: left;
	margin: 0 80px 0 0;
}
.new_out_adv_img {
	box-shadow: 0 0 5px 1px #d4d5d0;
	height: 148px;
	width: 297px;
	margin: 0 0 10px;
}
.new_video {
	vertical-align: bottom;
	width: 230px;
}
/*/cabinet*/
/*right*/
.with_ring {
	padding-top: 36px;
}
.right_ring {
	height: 188px;
	width: 710px;
	position: absolute;
	z-index: -1;
	top: -60px;
	left: -166px;
	background: url(../img/ring_zs.png) 50% 0 no-repeat;
}
.yelow_fr {
	background: url(../img/corner_tl_y.png) 0 0 no-repeat;
	padding: 18px 0 0 20px;
	font-weight: bold;
	min-height: 145px;
}
.orange_fr {	
	background: url(../img/corner_tl_o.png) 0 0 no-repeat;
	padding: 10px 0 0 20px;
	min-height: 272px;
}
.orange_fr a {
	display: block;
	font-weight: bold;
	margin: 0 0 8px;
}
.yelow_fr p {
	margin-bottom: 18px;
}
.docs_group_name {
	display: inline-block;
	position: relative;
	height: 24px;
	margin: 0 13px 10px 0;
	background: url(../img/doc_pl.png) 0 0 no-repeat;
	padding: 3px 3px 0 10px;
	color: #7b3a05;
	font-size: 12px;
	font-weight: bold;
}
.docs_group_r {
	position: absolute;
	right: -16px;
	height: 27px;
	width: 16px;
	top: 0;
	background: url(../img/doc_pl.png) 100% 100% no-repeat;
}
.doc {
	padding-left: 10px;
	margin: 0 0 10px;
}
.doc_date {
	display: block;
	font: italic 14px/18px 'PT Sans', sans-serif;
	color: #7f7f7f;
}
.doc_show_more {
	margin: 0 0 18px 10px;
	text-decoration: none;
	border-bottom: 1px dotted #e66d21;
	font-weight: normal;
	font-style: italic;
}
.docs_group {
	margin: 0 0 18px;	
}
/*/right*/
/*text-page*/
.text {
	padding-left: 40px;
}
.text p {margin-bottom:9px}
.text ul, .text ol {margin:0 0 18px 36px}
.text ul li {list-style:outside disc}
.text ol li {list-style:outside decimal}
.text h2, .text h3 {margin: 24px 0 9px 0;}
.text table {
	margin-bottom:18px;
	font-size:12px;
	border-collapse: collapse;
}
.text tr, .text td, .text th {
	border:1px solid #fcda65;
	padding:4px 8px 4px 8px;
}
.text th {
	font-weight: bold;
	background-color:#fcda66;
	color:#000;
	text-align:center;
}
.img_left {
	float:left;
	margin:0 18px 0 0; 
}
.img_right {
	float:right;
	margin:0 0 0 18px; 
}
/*/text-page*/
/*-----------------PAGE-END-----------------*/




/*-----------------FOOTER-----------------*/
.footer {
	position:relative;
	margin:36px 0 12px 0;
	padding:14px 0 24px 0;
	color: #3f2200;
}
#copyright {
}
.footer_menu {
	margin: 0 0 0 16px;
	width: 60%;
}
.footer_menu li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 18px 0 0;
}
.footer_contacts {
	position: absolute;
	right: 36px;
	left: 58%;
	top: 14px;
	margin-left: 158px;
	padding: 8px 8px 0;
	background: #f5ebc4;
	height: 50px;
	text-align: center;
}
.footer_contacts_in {
	display: inline-block;
	text-align: right;
}
.footer_contacts address, .footer_contacts .tel, .footer_contacts .tel span {
	color: #3f2200;
	font-weight: bold;
	font-style: normal;
}
.footer_contacts .corner_topleft {
	height: 58px;
	background-position: 100% -50px;
}
.footer_contacts .corner_bottomright {
	height: 58px;
	background-position: 0 -50px;
}
/*#madein {
	color: #000;
	font-size:12px;
	font-style: italic;
	line-height:14px;
	text-decoration:none;
	display:block;
	position:absolute;
	top:14px;
	right:6px;
	width: 148px;
}
#octoberweb {
	float: left;
	display: inline;
	margin: 0 9px 0 0;
}
#madein span{
	color: #797204;
	text-decoration: underline;
}
#madein span:hover {color: #9f7d05;}*/
/*-----------------FOOTER-END-----------------*/
/*-----------------login-------------------*/
.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: url(../img/bg_sh.png);
}
.login {
	position: absolute;
	right: 22px;
	top: 27px;
	width: 280px;
	padding: 30px 52px 46px 38px; 
	background: #ffffff;
	border-radius: 6px;
	box-shadow: 3px 3px 5px 1px #44371d;
	font-size: 16px;
}
.login h1 {
	color: #06151f;
}
.login .input {
	margin-bottom: 24px;
}
.login .input input {
	display: block;
	border-radius: 4px;
	width: 100%;
	height: 27px;
	background: #f8f8f8;
	font: 16px/18px 'PT Sans', sans-serif;
	padding: 1px 5px;
	box-shadow: inset 1px 1px 2px 0px #dadada;
	border: 1px inset #e2e2e2;
	margin-top: 5px;
	vertical-align: middle;
}
.login .input input:focus {
	border: 2px inset #a0c84a;
	outline: none;
	margin: 4px 0 -1px;
	padding: 1px 4px;
}
.submit {
	margin-top: 12px;
}
.submit, .submit div {
	position: relative;
	background: url('../img/button.png') 0 0 no-repeat;
	height: 34px;
	display: inline-block;
}
.submit input {
	font: bold 18px/24px 'PT Sans', sans-serif;
	color: #3e5706;
	margin: 0 0 0 -19px;
	padding: 0px 19px;
	height: 34px;
	display: block;
	border: none;
	background: none;
	overflow: visible;
}
.submit div {
	background-position: 100% -34px;
	right: -19px;
}
.submit:hover {
	background-position: 0 -68px;
}
.submit:hover div {
	background-position: 100% -102px;
}
.ic_close {
	position: absolute;
	width: 27px;
	height: 26px;
	top: -8px;
	right: -8px;
	background: url(../img/ic_close.png) no-repeat;
	cursor: pointer;
}
/*--------------------------/login-----------------------*/



/*-----------------STUFF-----------------*/
/*pagination*/
.pagination {
	font:16px/18px 'PT Sans', sans-serif;
	line-height:24px;
	width:300px;
	margin:0 0 6px 0;
	padding:18px 0 18px 0;
}
.current_page {
	color:#000;
	background:#fdf1be;
	padding:3px 5px 3px 5px;
	border-radius:4px;
	border:1px solid #fff;
	text-decoration:none;
}
.current_page:hover {color:#fff;}
.pagination span, .pagination a {margin-right:18px;}
/*/pagination*/


.cl {clear:both}