{% extends "base.html" %}

{% load thumbnail service_extras siteblocks_extras %}

{% block pre_left %}
    {% if works_categories %}
        <div class="servicies_icons">
            {% for works_category in works_categories %}
                <div class="service service{% if works_category.id == 4 %}_video{% endif %}{% if works_category.id == 5 %}_design{% endif %}{% if works_category.id == 2 %}_foto{% endif %}{% if works_category.id == 1 %}_out_adv{% endif %}{% if works_category.id == 3 %}_smi{% endif %}">
                    <a href="{{ works_category.get_absolute_url }}" class="service_ic"><img src="{{ works_category.get_src_image }}" alt="" /></a><div class="def_short"><a href="{{ works_category.get_absolute_url }}">{{ works_category.title }}</a>{{ works_category.short_description_on_main }}</div>
                </div>
            {% endfor %}
        </div><!-- /servicies_icons -->
    {% endif %}
{% endblock %}

{% block col_left_type %}cols14{% endblock %}
{% block left %}
    {% block_adv_maintenance 'big' %}
{% endblock %}

{% block col_right_type %}cols9{% endblock %}
{% block right %}
    {% if works %}
    <div class="works_out">
        <div class="works">
            <h1>Наши работы</h1>
            <ul>
                {% for work in works %}
                    <li class="work"><a href="{{ work.get_absolute_url }}" class="work_lnk_img"><img src="{{ work.get_src_image }}" alt="" /></a><a href="{{ work.get_absolute_url }}" class="work_lnk">{{ work.title }}</a><div class="cl"></div></li>
                {% endfor %}
                <li><a href="/services_and_works/" class="work_lnk_all">все наши работы</a></li>
            </ul>
        </div>
    </div><!-- /works -->
    {% endif %}
{% endblock %}

{% block post_right %}
    {% block_clients %}
{% endblock %}