{% extends "base.html" %}

{% load thumbnail service_extras siteblocks_extras %}

{% block title %}Блог{% endblock %}

{% block left %}
    <div class="blog">

        <input type="hidden" class="m_name" value="blog">
        <input type="hidden" class="a_name" value="siteblocks">
        <input type="hidden" class="init_cnt" value="{{ blog.count }}">

        {% for item in blog %}
            <div class="blog_item">
                <a href="{{ item.get_absolute_url }}" class="blog_item_icon"><img src="{{ item.get_src_image }}" alt="" /></a>
                <div class="blog_item_def">
                    <a href="{{ item.get_absolute_url }}" class="blog_item_lnk">{{ item.title }}</a>
                    <p class="blog_item_def_zm">{{ item.short_description }}</p>
                </div>
            </div>
        {% endfor %}

        <div class="show_more">
            <a href="#" class="load_items">Ещё <span class="cnt">4</span> записи</a>
        </div>

    </div><!-- /blog -->
{% endblock %}

{% block col_right_type %}cols5 with_ring{% endblock %}

{% block right %}
    {% block_adv_maintenance 'small' %}
{% endblock %}

{% block post_right %}
    {% block_clients %}
{% endblock %}
