{% extends "base.html" %}

{% load thumbnail service_extras siteblocks_extras %}

{% block title %}{{ blog_item.title }} &mdash; Блог{% endblock %}

{% block left %}
    <div class="text">
        <h1>{{ blog_item.title }}</h1>
        <img src="{{ blog_item.get_src_image }}" alt="" />
        {{ blog_item.text|safe }}
    </div>
{% endblock %}

{% block col_right_type %}cols5 with_ring{% endblock %}

{% block right %}
    {% block_adv_maintenance 'small' %}
{% endblock %}

{% block post_right %}
    {% block_clients %}
{% endblock %}
