{% load pytils_numeral %}

{% for item in items %}

    <div class="blog_item loaded" style="display: none;">
        <a href="{{ item.get_absolute_url }}" class="blog_item_icon"><img src="{{ item.get_src_image }}" alt="" /></a>
        <div class="blog_item_def">
            <a href="{{ item.get_absolute_url }}" class="blog_item_lnk">{{ item.title }}</a>
            <p class="blog_item_def_zm">{{ item.short_description }}</p>
        </div>
    </div>

{% endfor %}

{% if remaining_count %}
    <input type="hidden" id="remaining_count_text" value="Ещё <span class='cnt'>{{ remaining_count }}</span> запис{{ remaining_count|choose_plural:"ь,и,ей" }}">
{% endif %}




