{% load pytils_numeral service_extras thumbnail %}

{% for item in items %}

    {% if item.workcategory.id == 4 %}
        <div class="work_video{% if not initial %} loaded" style="display: none;{% endif %}">
            <div class="work_video_img">
                {% thumbnail item.image "115x70" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                {% endthumbnail %}
                <a href="{{ item.code_video }}" class="play_ic_zs"></a>
            </div>
            <span class="work_video_title_short">{{ item.title }}</span>
        </div>
    {% else %}
        <div class="work_out_adv{% if not initial %} loaded" style="display: none;{% endif %}">
            <div class="work_out_adv_img">
                {% thumbnail item.image "115x70" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                {% endthumbnail %}
            </div>
            <span class="work_out_adv_title_short">{{ item.title }}</span>
        </div>
    {% endif %}

{% endfor %}


{% if initial and next_count %}
    <div class="works_show_more service_load_button">
        <div class="show_more">
        {% if next_count < load_count %}
            <a href="#" class="load_items">Ещё <span class="cnt">{{ next_count }}</span></a>
        {% else %}
            <a href="#" class="load_items">Ещё <span class="cnt">{{ load_count }}</span></a>
        {% endif %}
        </div>
    </div>
{% endif %}

{% if remaining_count %}
    <input type="hidden" id="remaining_count_text" value="Ещё <span class='cnt'>{{ remaining_count }}</span>">
{% endif %}




