{% load pytils_numeral service_extras %}

{% for item in items %}

    <div class="client{% if not initial %} loaded" style="display: none;{% endif %}">
        <a href="{{ item.get_absolute_url }}" class="client_icon"><img src="{{ item.get_src_image }}" alt="" /></a>
        <div class="client_def">
            <a href="{{ item.get_absolute_url }}" class="client_name">{{ item.title }}</a>
            <p class="client_def_zm">{{ item.description|truncatewords:25 }}</p>
        </div>

        <div class="client_srvs">
            <ul>
                {% for category in item.get_works_categories %}
                    <li><a href="{{ item.get_absolute_url }}#{% category_href category.id %}"><img src="{% category_pic category.id 'zs' %}" alt="" /></a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="cl"></div>
    </div>

{% endfor %}

{% if initial and next_count %}
    <div class="show_more service_load_button">
        {% if next_count < load_count %}
            <a href="#" class="load_items">Ещё <span class="cnt">{{ next_count }}</span> клиент{{ next_count|choose_plural:",а,ов" }}</a>
        {% else %}
            <a href="#" class="load_items">Ещё <span class="cnt">{{ load_count }}</span> клиент{{ load_count|choose_plural:",а,ов" }}</a>
        {% endif %}
    </div>
{% endif %}

{% if remaining_count %}
    <input type="hidden" id="remaining_count_text" value="Ещё <span class='cnt'>{{ remaining_count }}</span> клиент{{ remaining_count|choose_plural:",а,ов" }}">
{% endif %}




