{% load pytils_numeral %}

{% for item in items %}

    {% for works_media in item.get_works_media %}
        <div class="video_example{% if not initial %} loaded" style="display: none;{% endif %}">
            <div class="video_example_img">
                <img src="{{ works_media.get_src_image }}" alt="" />
                <a href="{{ works_media.code_video }}" class="play_ic"></a>
            </div>
            <span class="video_example_title">{{ item.title }}</span>
        </div>
    {% endfor %}
    <div class="helper"></div>

{% endfor %}

{% if initial and next_count %}
    <div class="show_more service_load_button">
        {% if next_count < load_count %}
            <a href="#" class="load_items">Ещё <span class="cnt">{{ next_count }}</span> работ{{ next_count|choose_plural:"а,ы," }}</a>
        {% else %}
            <a href="#" class="load_items">Ещё <span class="cnt">{{ load_count }}</span> работ{{ load_count|choose_plural:"а,ы," }}</a>
        {% endif %}
    </div>
{% endif %}

{% if remaining_count %}
    <input type="hidden" id="remaining_count_text" value="Ещё <span class='cnt'>{{ remaining_count }}</span> работ{{ remaining_count|choose_plural:"а,ы," }}">
{% endif %}



